<div class="d-flex flex-column">
    <h2 class="w-100 text-center my-3">Mais opções</h2>

    <div class="d-flex flex-wrap w-100">
        <div class="card-more m-2 rosary pointer" (click)="externalNavigate('https://terco.adoremus.com.br')">
            <h2 class="text-center pointer">Rezar o terço</h2>
        </div>

        <div class="card-more m-2 conscience pointer" (click)="navigate('/exame-de-consciencia')">
            <h2 class="text-center pointer">Exame de consciência</h2>
        </div>

        <div class="card-more m-2 missal pointer" (click)="navigate('/missal')">
            <h2 class="text-center pointer">Missal Rito Ordinário</h2>
        </div>

        <div class="card-more m-2 letter pointer" (click)="navigate('/documentos-magisteriais')">
            <h2 class="text-center pointer">Docs. Magisteriais</h2>
        </div>
    </div>
</div>