.filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.filtro button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.calendario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.semana,
.mes {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.dia-semana {
    font-weight: bold;
    text-align: center;
}

.dia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ededed;
    border-radius: 10px;
    height: 100px;
    width: 100%;
    min-width: 42px;
}

.data {
    font-weight: bold;
}

.evento {
    margin-top: 5px;
    font-size: 0.8em;
    text-align: center;
}

.default {
    background-color: rgba(211, 211, 211, .3);
}

.blue {
    background-color: rgba(0, 0, 255, .3);
    color: black;
}

.green {
    background-color: rgba(0, 128, 0, .3);
    color: black;
}

.purple {
    background-color: rgba(128, 0, 128, .3);
    color: black;
}

.red {
    background-color: rgba(255, 0, 0, .3);
    color: black;
}

.yellow {
    background-color: rgba(255, 255, 0, .3);
    color: black;
}

.violet {
    background-color: rgba(238, 130, 238, .3);
    color: black;
}

.preceito {
    background-color: goldenrod;
    color: black;
}

.solenidade {
    background-color: rgba(205, 116, 0, .3);
    color: black;
}

span {
    color: black !important;
}

.evento-nome {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
}

.filtro-mes {
    span {
        text-align: center;
        min-width: 120px;
    }
}

.bloco-legenda {
    min-width: 20px;
    min-height: 20px;
    border-radius: 10px;
}

p {
    margin: 0;
}

@media (max-width: 768px) {
    .dia {
        min-width: 42px;
        max-width: 42px;

        span {
            font-size: 7.5px;
        }
    }
}