<app-loader *ngIf="!allLoaded" class="w-100 d-flex justify-content-center mt-3"></app-loader>

<div *ngIf="allLoaded" class="selected-prayer container mt-3">
    <h2 class="w-100 text-center my-3">Missal Romano Rito Ordinário</h2>

    <div class="mt-4 row">
        <div class="col-md-6">
            <h2 class="text-center traditional">Português</h2>
            <div *ngFor="let block of missalData" class="mb-4">
                <h4 class="title-missal traditional">{{ block.nome }}</h4>
                <p>{{ block.texto_pt }}</p>
            </div>
        </div>

        <div class="col-md-6">
            <h2 class="text-center traditional">Latim</h2>
            <div *ngFor="let block of missalData" class="mb-4">
                <h4 class="title-missal traditional">{{ block.nome }}</h4>
                <p>{{ block.texto_latim }}</p>
            </div>
        </div>
    </div>
</div>