<div class="footer">
    <h1>Adoremus</h1>
    <p>Unindo fé e prática, a serviço da verdade.</p>
    <hr>
    <div class="d-flex align-items-center justify-content-center flex-column w-100 my-5">
        <h6>Links da página:</h6>
        <div class="d-flex align-items-center justify-content-center my-2 flex-wrap">
            <a class="footer-link mx-2" (click)="navegar('/')">Início</a>
            <a class="footer-link mx-2" (click)="navegar('/lectio-divina')">Reflexões</a>
            <a class="footer-link mx-2" (click)="navegar('/blog')">Blog</a>
            <a class="footer-link mx-2" (click)="navegar('/ano-liturgico')">Ano Litúrgico</a>
            <a class="footer-link mx-2" (click)="navegar('/oracoes')">Orações</a>
            <a class="footer-link mx-2" (click)="navegar('/mais')">Mais</a>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center align-items-center flex-column gap-1">
        <p class="text-center">© 2024-2025 Adoremus. Todos os direitos reservados.</p>
    </div>
</div>