<div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h1 class="w-100 text-center mt-3 mb-1">Liturgia das Horas</h1>
        <p class="text-center mb-0" style="max-width: 600px;">
            Reze a Liturgia das Horas do dia {{ day }}, junto com toda a Santa Igreja!
        </p>
    </div>
</div>

<app-loader *ngIf="!loaded" class="w-100 d-flex justify-content-center my-3"></app-loader>

<div *ngIf="loaded && liturgy" class="container my-4">
    <div class="d-flex justify-content-center gap-2 flex-wrap mb-3">
        <app-button (click)="changePart('oficio_leitura', 'Ofício')" [text]="'Ofício'"></app-button>
        <app-button (click)="changePart('laudes', 'Laudes')" [text]="'Laudes'"></app-button>
        <app-button (click)="changePart('tercia', 'Tércia')" [text]="'Tércia'"></app-button>
        <app-button (click)="changePart('sexta', 'Sexta')" [text]="'Sexta'"></app-button>
        <app-button (click)="changePart('noa', 'Noa')" [text]="'Noa'"></app-button>
        <app-button (click)="changePart('vesperas', 'Vésperas')" [text]="'Vésperas'"></app-button>
        <app-button (click)="changePart('completas', 'Completas')" [text]="'Completas'"></app-button>
    </div>

    <h3 class="text-center mt-4">{{ selectedTab }}</h3>

    <div class="ql-editor content-liturgy" [innerHTML]="safeLiturgyHtml"></div>
</div>

<div *ngIf="loaded && !liturgy" class="text-center my-5">
    <p>Nenhuma liturgia encontrada para hoje.</p>
</div>