button {
    background-color: #3a0a0a;
    background-image: radial-gradient(circle at center top, #521a1a 0%, #3a0a0a 80%);
    color: #ada886;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;

    transition: 0.3s ease-in-out;

    &:hover {
        background-color: #210808;
        background-image: none;
    }
}