.prayers {
    @media (max-width: 768px) {
        .prayer {
            app-button {
                width: 100%;
            }
        }

    }

    .prayer {
        app-button {
            width: 400px;
        }
    }
}

.prayer-text {
    white-space: pre-line;
    text-align: justify;
    line-height: 1.8;
}

.selected-prayer {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
}