.calendar-container {
    max-width: 400px;
    margin: auto;
    color: #fdf5e6;
}

.calendar-header h5 {
    font-weight: 500;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
}

.day-name {
    text-align: center;
    font-weight: bold;
    opacity: 0.6;
}

.day-cell {
    text-align: center;
    padding: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.day-cell.lectio {
    background-color: #9c7e47;
    color: black;
    font-weight: bold;
}

.day-cell.inactive {
    opacity: 0.3;
    pointer-events: none;
}