@font-face {
    font-family: 'Caudex Regular';
    src: url('/fonts/caudex-regular.ttf');
}

@font-face {
    font-family: 'Caudex Bold';
    src: url('/fonts/caudex-bold.ttf');
}

@font-face {
    font-family: 'Cloister';
    src: url('/fonts/cloister.ttf');
}

* {
    padding: 0;
    margin: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    // min-height: 100vh !important;
    width: 100%;

    background-color: #130b0b;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
a {
    margin: 0;

    font-family: "Caudex Bold";
    font-style: normal;

    color: #ada886;

    cursor: default;
}

p {
    cursor: default;
}

p,
span,
li,
ul,
blockquote,
small,
input,
textarea,
label,
button {
    font-family: "Caudex Regular", sans-serif;
    font-weight: normal;
    font-style: normal;

    color: #ada886;
}

blockquote {
    font-family: "Caudex Regular", sans-serif;
    font-weight: normal;
    font-style: italic;

    color: #ada886;
    margin: 0 0 1rem 0;
    padding-left: 1rem !important;
    border-left: 4px solid #ada886;
}

i {
    color: #ada886 !important;
}

.bold {
    font-family: "Caudex Bold", sans-serif;
    font-weight: normal;
    font-style: normal;
}

.secondary {
    color: #726e58;
}

.light {
    color: #cfc9a1;
}

.traditional {
    font-family: "Cloister", sans-serif;
}

.btn-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #070707;

    border-radius: 10px;
    background: #d4c403;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);

    overflow: hidden;
    cursor: pointer;
    border: none;

    font-size: 14px;
    width: 200px;
    height: 30px;

    &:after {
        content: " ";
        width: 0%;
        height: 100%;
        color: #d4c403;
        background: #070707;
        position: absolute;
        transition: all 0.2s ease-in-out;
        right: 0;
    }

    &:hover {
        &::after {
            right: auto;
            left: 0;
            width: 100%;
        }
    }

    span {
        text-align: center;
        text-decoration: none;
        width: 100%;
        padding: 18px 25px;
        color: #070707;
        font-size: 1.125em;
        font-weight: 700;
        letter-spacing: 0.1em;
        z-index: 20;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: #d4c403;
            animation: scaleUp 0.2s ease-in-out;
        }
    }
}

.btn-close {
    outline: none;
    box-shadow: none;
    filter: invert(33%) sepia(34%) saturate(359%) hue-rotate(258deg) brightness(84%) contrast(89%);
    transition: all 0.1s ease-in-out;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:hover {
        transform: scale(1.1);
    }

    &:after {
        height: 0%;
        background: #3a1e46;
        transition: all 0.2s ease-in-out;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.texto-noticia {
    max-width: 400px;
}

.texto-noticia-max {
    max-width: 500px;
}

.div-noticia {
    display: flex;
    justify-content: center;

    max-width: 100%;
}

// Cursor

.pointer {
    cursor: pointer;
}

// Cores

.black {
    color: #070707;
}

.p-black {
    color: #282828;
}

// Scrollbar
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #2d1f1f;
}

::-webkit-scrollbar-thumb {
    background-color: #ada886;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9f9200;
}