.navbar {
    padding: 5px 20px !important;
    padding-left: 60px !important;
    padding-right: 60px !important;
    background-color: #2d1f1f;
    z-index: 999;

    @media (max-width: 600px) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

h1 {
    padding: 0 !important;
    margin: 0 !important;

    font-size: 25px;
}

.navbar-brand {
    color: #ada886;
    font-weight: bold;
}

.nav-link {
    color: #ada886;
    transition: 0.3s;

    cursor: pointer;

    &:hover {
        color: #ac9e00;
    }
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba(212, 196, 3, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-collapse.show {
    display: block !important;
}